.main-content {
    border-left: 1px solid var(--wrapper-line);
    border-right: 1px solid var(--wrapper-line);
}
.main-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.main-section__left {
    height: auto;
    border-bottom: 1px solid var(--wrapper-line);
}
.main-section__row-1 {
    padding: 80px 80px 0;
    margin-bottom: 24px;
}
.main-section__name {
    font-family: "GilroySemiBold";
    font-size: 67px;
    margin-bottom: 26px;
}
.main-section__description {
    font-family: "GilroyNormal";
    font-style: italic;
    font-size: 18px;
    color: var(--subtext);
    line-height: 140%;
    padding-bottom: 54px;
    border-bottom: 1px solid var(--wrapper-line);
}
.main-section__row-2 {
    display: flex;
    padding: 0 80px 80px;
    border-bottom: 1px solid var(--wrapper-line);
}
.main-section__hero-img {
    padding-right: 24px;
    border-right: 1px solid var(--wrapper-line);
}
.main-section__text {
    margin-left: 24px;
    align-self: flex-end;
    font-family: "GilroyNormal";
    font-size: 14px;
    color: var(--subtext);
}
.main-section__right {

}
.main-section__block-type {
    display: flex;
}
.main-section__img-type img{
    max-width: 100%;
    height: auto;
}
.main-section__type {
    padding: 20px;
    width: 360px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid var(--wrapper-line);
    border-left: 1px solid var(--wrapper-line);
    padding: 1px;
}
.main-section__name-type {
    font-family: "GilroyNormal";
    font-size: 38px;
    line-height: 120%;
    text-align: center;
}
.main-section__show-now {
    font-family: "GilroySemiBold";
    font-size: 16px;
    line-height: 120%;
    position: absolute;
    bottom: 24px;
    transform: translateX(-50%);
    line-height: 24px;
}
.main-section__right .main-section__block-type:nth-child(odd) .main-section__show-now {
    left: calc(50% - 14px);
}
.main-section__right .main-section__block-type:nth-child(odd) .main-section__show-now::after {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-left: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url(../../img/arrow.svg) center/ 24px 24px no-repeat;
}
.main-section__right .main-section__block-type:nth-child(even) .main-section__show-now {
    left: calc(50% + 14px);
}
.main-section__right .main-section__block-type:nth-child(even) .main-section__show-now::before{
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-left: -28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    background: url(../../img/arrow.svg) center/ 24px 24px no-repeat;
}